/*Core style*/
*{
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    line-height:1.5;
    margin:0;
    padding:0;
    background:rgb(193, 94, 206);
}
/*Sticky Navigation bar*/
#nav-bar{
    position:fixed;
    background:rgb(168,82,173);
    display:flex;
    justify-content:space-between;
    top:0;
    width:100%;
    color:#fff;
    z-index:1; 
}
.logo{
    font-size:1.5em;
    margin-left:1em;
    padding:0.2em;
}
.logo i{
    margin-right:0.3em;
    font-size: 1.7em;
}
.logo a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    margin-left:1.2em;
}
.menu a{
    text-decoration:none;
    color:white;
    display:inline-block;
    padding:0.8em 1em;
    font-weight:bold;
    transition:0.2s;
}
.logo-icon{
    position:absolute;
    left:2px;
    transition:1s ease-in-out;
}
.logo-icon:hover{
    -webkit-transform:translate(3em,0);
    -o-transform:translate(3em,0);
    -moz-transform:translate(3em,0);
    -ms-transform:translate(3em,0);
    transform:translate(3em,0);
    color: rgb(70, 243, 113);
}
.menu a:hover{
    border-bottom:4px solid rgb(70, 243, 113);
}
.login{
    margin-right:1em;
    margin-top:0.8em;
}
.login i{
    margin-right:0.4em;
    font-size:1.4em;
    transition:0.5s ease-in-out;
}
.login .fly-icon:hover{
    color: rgb(70, 243, 113);
    transform:rotate(50deg);
}
.btn-1{
    border:none;
    outline:none;
    padding:0.8em 1.2em;
    border-radius:2px;
    background:rgb(41, 184, 77);
    color:white;
    box-shadow:2px 5px 8px rgba(0,0,0,0.24);
}
/*Header*/
#header-id{
    margin-top:3.1em;
    background:url('https://i.ytimg.com/vi/MPOKwqCHsz8/maxresdefault.jpg');
    background-size:cover;
    display:flex;
    height:39em;
    justify-content:space-around;
    font-weight:bold;
    padding:7em;
}
#header-id .header-title{
    line-height:1;
    color:#fff;
    transition:0.5s ease-in-out;
    -webkit-transform:rotate(-40deg);
    -moz-transform:rotate-(40deg);
    -ms-transform:rotate(-40deg);
    -o-transform:rotate(-40deg);
    transform:rotate(-40deg);
    font-size:1em;
}
#header-id .header-title:hover{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    color:rgb(87, 243, 95);
    font-size:1.5em;
}
#header-id .header-card{
    background:#fff;
    box-shadow:2px 3px 8px 3px rgba(0,0,0,0.24);
    border-radius:5px;
    max-height:18em;
    padding:1em;
    transition:0.8s ease-in-out;
}
#header-id .header-card:hover{
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform:rotateY(360deg);
}
#header-id .header-card h1{
    color:black;
    transition:0.5s ease-in-out;
}
#header-id .header-card h1:hover{
    transform:rotateX(360deg);
    color:rgb(143, 11, 11);
}
#header-id .header-card li{
    color:rgb(204, 134, 5);
    transition:0.5s ease-in-out;
}
#header-id .header-card li:hover{
    -webkit-transform:translate(50px,0);
    -moz-transform:translate(50px,0);
    -o-transform:translate(50px,0);
    -ms-transform:translate(50px,0);
    transform:translate(50px,0);
}
.btn-2{
    background:rgb(41, 184, 77);
    border:none;
    outline:none;
    padding:1em 1.2em;
    border-radius:20px;
    color:#fff;
    font-weight:bold;
    box-shadow:0 7px rgb(7, 80, 25);
}
.btn-2:active{
    -webkit-transform:translate(0,4px);
    -moz-transform:translate(0,4px);
    -o-transform:translate(0,4px);
    -ms-transform:translate(0,4px);
    transform:translate(0,4px);
    box-shadow:0 2px rgb(7, 80, 25);
}
/**Main Content**/
/*Section 1*/
#section-1{
    padding:10em 1em;
    display:flex;
    align-items:center;
}
.sec1-content{
    flex:50%;
    font-size:3em;
}
.white-highlight{
    border-bottom:0.3em solid white;
    color:#fff;
    transition:0.5s ease-in-out;
    padding:10px;
}
.sec1-content:hover .white-highlight{
    border:0.3em solid black;
}
.aside-icon{
    background:rgb(230, 57, 230);
    border-radius:10px;
    box-shadow:2px 3px 5px 4px rgba(0,0,0,0.24);
}
.coffee-icon{
    font-size:20em;
    transition:0.8s ease-in-out;
    padding:0.2em;
}
.aside-icon:hover .coffee-icon{
    transform:rotate(-30deg);
    color:#f0f0f0;
}
/*section 2*/
#section-2{
    padding:10em 2em;
    background:#fff;
    border-right: 0.4em solid rgb(193, 94, 206);
}
.sec2-list{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:6em 15em;
}
.sec2-article{
    display:flex;
}
.sec2-article .sec2-icon{
    margin-right:2em;
}
.sec2-icon .battery-icon{
    background:rgb(102, 187, 226);
    font-size:2em;
    border-radius:50%;
    padding:1em;
    color:#fff;
    transition:0.5s ease-in-out;
}
.sec2-article .sec2-content{
    font-weight:bold;
}
.sec2-icon:hover .battery-icon{
    transform:rotate(360deg) scale(1.5,1.5);
    color:black;
    background:#fff;
    box-shadow:2px 3px 4px 1px rgba(0,0,0,0.70);
}
/*Footer*/
#footer-id{
    padding:4em;
    position:relative;
}
.contact-zone{
    display:flex;
    justify-content:center;
    position:absolute;
    left:40%;
    top:-3em;
}
.contact-box{
    margin:0.5em; 
    background:#fff;
    padding:1.5em;
    border-radius:5px;
    box-shadow:2px 3px 5px 2px rgba(0,0,0,0.58);
    transition:0.4s ease-in-out;
}
.contact-box:hover{
    -webkit-transform:translate(0,3em);
    -moz-transform:translate(0,3em);
    -o-transform:translate(0,3em);
    -ms-transform:translate(0,3em);
    transform:translate(0,3em);
    color:rgb(193, 94, 206);
}
.copyright{
    text-align:center;
    color:white;
}
.name-box{
    position:relative;
    display:inline-block;
    height:1em;
    width:2em;
    border:1px solid #fff;
    padding:1em 2.2em;
    top:-1em;
    left:0;
    transition:0.8s ease-in-out;
}
.name-box .fly-name{
    position:absolute;
    text-decoration:none;
    color:#137562;
    font-weight:bold;
    left:5px;
    top:5em;
    transition:0.8s ease-in-out;
    color:rgb(193, 94, 206);
}
.name-box:hover .fly-name{
    -webkit-transform:translate(0,-4.9em);
    -moz-transform:translate(0,-4.9em);
    -o-transform:translate(0,-4.9em);
    -ms-transform:translate(0,-4.9em);
    transform:translate(0,-4.9em);
    color:white;
}
.name-box .fly-name:hover{
    text-decoration:underline;
    color:rgb(102, 187, 226);
}